header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3.5rem;
  padding: 0 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 1px 5px lightgray;
          box-shadow: 0 1px 5px lightgray;
  background-color: #f8f8f8;
  position: fixed;
  z-index: 10;
}

#logo svg:hover path {
  -webkit-transition: 100ms ease;
  transition: 100ms ease;
}

#logo svg:hover path:nth-child(3) {
  fill: #000;
}

#logo svg:hover path:nth-child(1) {
  fill: #ff5b35;
}

#logo svg:hover path:nth-child(2) {
  fill: #ff5b35;
}

#menu-icon {
  cursor: pointer;
}

#menu-icon input:checked ~ section {
  margin: 0;
}

#menu-icon input:checked ~ section:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  top: 2.5px;
}

#menu-icon input:checked ~ section:nth-child(3) {
  width: 0;
}

#menu-icon input:checked ~ section:nth-child(4) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  bottom: 2.5px;
}

#menu-icon section {
  width: 30px;
  height: 3px;
  border-radius: 1px;
  background-color: #000;
  margin: 7px 0;
  -webkit-transition: 200ms ease 0s;
  transition: 200ms ease 0s;
}

#navbar nav {
  position: absolute;
  top: 3.5rem;
  left: 0;
  background-color: #fff;
  width: 100%;
  padding: 0 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
}

#navbar nav ul li {
  padding: 1rem 0;
  border-bottom: 1px solid lightgray;
}

#navbar nav ul li:last-child {
  display: none;
}

#navbar nav ul li a {
  color: #545454;
  -webkit-transition: 100ms ease;
  transition: 100ms ease;
}

#navbar nav ul li a:hover {
  color: #ff5b35;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 0 5rem;
  }
  #menu-icon {
    display: none;
  }
  #navbar {
    width: 100%;
  }
  #navbar nav {
    position: relative !important;
    display: inline-block;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    padding: 0;
  }
  #navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  #navbar nav ul li {
    border: none;
    margin: 0 0.7rem;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    padding: 0 8rem;
  }
  #navbar nav ul li:last-child {
    display: inline-block;
  }
  #navbar nav ul li:last-child a {
    display: inherit;
    background-color: #ff5b35;
    color: #fff;
    padding: 0.8rem 2.5rem;
    border-radius: 7px;
    font-size: 0.9rem;
  }
}

main {
  padding-top: 3.5rem;
}

#introduction-content {
  background: center/cover no-repeat url(.././sources/images/banner.webp);
  height: 478px;
  color: #fff;
}

#introduction-content,
#introduction-content div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#introduction-content div {
  width: 20rem;
  padding: 2rem 0;
  border-radius: 20px;
  background-image: linear-gradient(51deg, rgba(23, 26, 60, 0.7) 5%, rgba(23, 26, 60, 0.3) 95%);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#introduction-content section {
  width: 100%;
  margin-right: 4rem;
  margin-bottom: 0.5rem;
}

#introduction-content h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#introduction-content a {
  width: 60%;
  border: #fff solid 2px;
  border-radius: 15px;
  padding: 1rem 2rem;
  margin: 0.5rem;
  text-align: center;
}

#introduction-content a:nth-child(2), #introduction-content a:nth-child(3) {
  color: #202c3f;
  background-color: #fff;
}

#introduction-content a:nth-child(4), #introduction-content a:nth-child(5) {
  color: #fff;
}

#services {
  width: 100%;
  padding: 1rem 0;
  overflow: auto hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#services ul {
  min-width: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#services ul li {
  width: 100px;
  height: 60px;
  margin: 0 1rem;
  cursor: pointer;
}

#services ul li h4 {
  text-align: center;
  font-size: 0.9rem;
}

#services ul li:first-child {
  margin: 0;
}

#services ul li:last-child {
  margin: 0;
}

#services ul li img {
  width: 100%;
}

.middle-tiles {
  padding: 2rem;
  border-bottom: 1px lightgray solid;
  min-height: 25rem;
  background-color: #f8f8f8;
}

.middle-tiles span {
  display: inline-block;
  font-size: 1.2rem;
  margin: 1.5rem 0 0.5rem;
}

.middle-tiles .param-texts {
  line-height: 1.5rem;
  font-weight: 400;
  font-size: 0.9rem;
  text-align: justify;
}

.middle-tiles .tiles-images {
  width: 90%;
}

.middle-tiles .tiles-images[driverimg] {
  border-radius: 25px;
  width: 100%;
  margin: 1rem 0;
}

.middle-tiles .tiles-links {
  color: #fff;
  background-color: #ff5b35;
  padding: 0.7rem 1.3rem;
  border-radius: 20px;
  display: inline-block;
  margin: 1rem 0 0;
}

.middle-tiles .more-info {
  display: inline-block;
  color: #ff5b35;
  margin: 0.5rem 0 0;
}

.middle-tiles .title {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 1rem 0;
}

.unselected {
  opacity: 0.5;
}

.select {
  opacity: 1;
}

#transparent-block {
  width: 100%;
  height: 20rem;
  background-color: transparent;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#transparent-block ul li {
  text-align: center;
  margin: 1rem 0;
}

#transparent-block ul li:hover .param {
  visibility: visible;
}

#transparent-block .title {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

#transparent-block .param {
  color: #fff;
  font-size: 0.8rem;
  visibility: hidden;
  -webkit-transition: none;
  transition: none;
  padding: 0 2rem;
}

.feature-list h4 {
  font-size: 1rem;
}

.feature-list ul li {
  margin: 0.7rem 0;
  font-size: 0.9rem;
}

.links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links a {
  background-color: #0065dc;
  color: #fff;
  display: inline-block;
  border-radius: 15px;
  width: 13rem;
  text-align: center;
  padding: 1.3rem 1.5rem;
  font-size: 0.9rem;
}

.links a:first-child {
  margin-bottom: 0.7rem;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 2rem 1rem 0;
}

footer h3 {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

footer img[tapsi-light-logo] {
  width: 18vw;
}

footer .title {
  font-size: 1.3rem;
  margin: 1.5rem 0 0;
  font-weight: 600;
}

footer > ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer > ul li ul li {
  margin: 1.1rem 0;
}

footer a {
  color: #fff;
  font-size: 0.75rem;
}

footer div[subfooter] {
  margin-top: 2rem;
  padding: 1rem 0 0;
  border-top: 1px solid rgba(211, 211, 211, 0.144);
}

footer div[subfooter] p {
  font-size: 0.8rem;
}

footer div[subfooter] ul li {
  margin: 1rem 1rem 0.5rem;
}

footer div[subfooter] ul li:first-child {
  margin-right: 0;
}

@media only screen and (min-width: 768px) {
  footer > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1440px) {
  footer h3 {
    font-size: 1.1rem;
  }
  footer .title {
    font-size: 1.6rem;
  }
  footer a {
    font-size: 1.05rem;
  }
  footer > ul li ul li {
    margin: 2rem 0;
  }
  footer div[subfooter] p {
    font-size: 1.2rem;
  }
}

@font-face {
  font-family: "Dana";
  src: url("../sources/fonts/dana-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}

* {
  -webkit-transition: 500ms 0s ease;
  transition: 500ms 0s ease;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  overflow-x: hidden;
  font-family: "Dana", sans-serif;
  background: center/cover no-repeat url("../sources/images/parallax.jpeg");
  background-attachment: fixed;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active {
  display: block;
}

.deactive {
  display: none;
}

@media print {
  header,
  #introduction-content,
  footer,
  img,
  #services {
    display: none;
  }
}
/*# sourceMappingURL=home.css.map */