// All footer styles comes here:

@import "./config";

footer {
  background-color: $footer-bg-color;
  color: $footer-font-color;
  padding: 2rem 1rem 0;

  h3 {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  img {
    &[tapsi-light-logo] {
      width: 18vw;
    }
  }

  .title {
    font-size: 1.3rem;
    margin: 1.5rem 0 0;
    font-weight: 600;
  }

  & > ul {
    flex-direction: column;

    li ul li {
      margin: 1.1rem 0;

      a {
        transition: 100ms ease !important;

        &:hover {
          color: $base-color;
        }
      }
    }
  }

  a {
    color: $footer-font-color;
    font-size: 0.75rem;
  }

  div[subfooter] {
    margin-top: 2rem;
    padding: 1rem 0 0;
    border-top: 1px solid rgba(211, 211, 211, 0.144);

    p {
      font-size: 0.8rem;
    }

    ul {
      li {
        margin: 1rem 1rem 0.5rem;

        &:first-child {
          margin-right: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  footer {
    & > ul {
      @include flex(row, space-evenly, null);
    }
  }
}

@media only screen and (min-width: 1440px) {
  footer {
    h3 {
      font-size: 1.1rem;
    }

    .title {
      font-size: 1.6rem;
    }

    a {
      font-size: 1.05rem;
    }

    & > ul {
      li ul li {
        margin: 2rem 0;
      }
    }

    div[subfooter] {
      p {
        font-size: 1.2rem;
      }
    }
  }
}
