@import "./config";

// All main styles come here:
main {
  padding-top: $header-height;
}

#introduction-content {
  background: center / cover no-repeat url(.././sources/images/banner.webp);
  height: 478px;
  color: $intro-content-font-color;
  font-size: 0.9rem;

  &,
  div {
    @include flex(column, center, center);
  }

  div {
    width: 16rem;
    padding: 1.5rem 0;
    border-radius: 20px;
    background-image: linear-gradient(
      51deg,
      rgba(23, 26, 60, 0.7) 5%,
      rgba(23, 26, 60, 0.3) 95%
    );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  section {
    width: 100%;
    margin-right: 4rem;
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  a {
    width: 60%;
    border: $intro-content-font-color solid 2px;
    border-radius: $btn-radius;
    padding: $btn-padding;
    margin: 0.5rem;
    text-align: center;

    &:nth-child(2),
    &:nth-child(3) {
      color: #202c3f;
      background-color: $intro-content-font-color;
    }

    &:nth-child(4),
    &:nth-child(5) {
      color: $intro-content-font-color;
    }
  }
}

#phone-mockup {
  display: none;
}

#services {
  width: 100%;
  padding: 2rem 0;
  overflow: auto hidden;
  box-sizing: border-box;

  ul {
    min-width: 100%;
    width: max-content;
    @include flex(row, space-between, null);

    li {
      width: 100px;
      height: 60px;
      margin: 0 1rem;
      cursor: pointer;

      h4 {
        text-align: center;
        font-size: 0.9rem;
      }

      &:first-child {
        margin: 0;
      }
      &:last-child {
        margin: 0;
      }

      img {
        width: 100%;
      }
    }
  }
}

.middle-tiles {
  padding: 2rem;
  border-bottom: 1px lightgray solid;
  min-height: 25rem;
  background-color: #fff;

  span {
    display: inline-block;
    font-size: 1.2rem;
    margin: 1.5rem 0 0.5rem;
  }

  .param-texts {
    line-height: $line-height;
    font-weight: 400;
    font-size: 1rem;
    text-align: justify;
  }

  .tiles-images {
    width: 90%;

    &[driverimg] {
      border-radius: 25px;
      width: 100%;
      margin: 1rem 0;
    }
  }

  .tiles-links {
    color: #fff;
    background-color: $btn-color1;
    padding: $btn-padding;
    border-radius: $btn-radius;
    width: $btn-width;
    display: inline-block;
    margin: 1rem 0 0;
    text-align: center;
  }

  .more-info {
    display: inline-block;
    color: $base-color;
    margin: 0.5rem 0 0;
  }

  .title {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1rem 0;
  }
}

.unselected {
  opacity: 0.5;
}

.select {
  opacity: 1;
}

#transparent-block {
  width: 100%;
  height: 20rem;
  background-color: transparent;
  @include flex(column, center, center);

  ul {
    li {
      text-align: center;
      margin: 1rem 0;

      &:hover .param {
        visibility: visible;
      }
    }
  }

  .title {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }

  .param {
    color: #fff;
    font-size: 0.8rem;
    visibility: hidden;
    transition: none;
    padding: 0 2rem;
  }
}

#features-for-taxi-driver {
  line-height: $line-height;

  .links div {
    flex-direction: column;
  }
}

.feature-list {
  h4 {
    font-size: 1rem;
    font-weight: 600;
  }

  ul {
    li {
      margin: 0.7rem 0;
      font-size: 0.9rem;
    }
  }
}

.links {
  @include flex(column, center, center);
  width: fit-content;

  a {
    background-color: $btn-color0;
    padding: $btn-padding;
    width: $btn-width;
    border-radius: $btn-radius;
    color: #fff;
    display: inline-block;
    width: $btn-width;
    text-align: center;
    font-size: 0.9rem;

    &:first-child {
      margin-bottom: 0.7rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  #introduction-content {
    & > div {
      width: 500px;
      align-self: flex-start;
      margin-right: 5rem;
      margin-top: -9rem;

      section {
        padding: 6rem 1rem 1rem 0;

        h1 {
          font-size: 3.5rem;
          font-weight: 700;
        }
      }
    }
  }

  .middle-tiles {
    padding: 2rem 5rem;
  }

  .tiles {
    display: flex;
    @include flex(row, null, center);

    img {
      width: 50% !important;
    }
  }

  #services-text {
    width: 50%;
  }

  #services-for-business {
    & > img {
      order: 1;
      margin-right: 2rem;
    }

    & > div {
      order: 0;
    }
  }

  #transparent-block {
    height: 10rem;
    flex-wrap: wrap;

    ul {
      display: flex;

      li {
        border-left: 2px solid #fff;
        padding: 1rem;
        height: 2.5rem;
        position: relative;

        &:hover {
          bottom: 2rem;
        }

        &:last-child {
          border: none;
        }
      }
    }
  }

  #features-for-taxi-driver {
    align-items: flex-start;

    & > div {
      width: 50%;
    }

    img {
      order: 1;
      margin-right: 2rem;
    }

    .links {
      position: relative;
      margin-top: 4rem;

      div {
        flex-direction: row;
        align-items: baseline;
        position: absolute;
        right: 0;
        top: -4rem;

        a {
          &:first-child {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  #introduction-content {
    & > div {
      align-self: flex-start;
      margin-right: 8rem;

      section {
        padding-right: 6rem;
      }

      a {
        width: 50%;
      }
    }
  }

  #phone-mockup {
    display: inline-block;
    position: absolute;
    top: 130px;
    left: 12%;
    width: 400px;
  }

  .middle-tiles {
    padding: 2rem 8rem;
  }
}
