@import "./config";

// All main styles come here:
main {
  padding-top: $header-height;
}

#introduction-content {
  background: center / cover no-repeat url(.././sources/images/banner.webp);
  height: 478px;
  color: $intro-content-font-color;

  &,
  div {
    @include flex(column, center, center);
  }

  div {
    width: 20rem;
    padding: 2rem 0;
    border-radius: 20px;
    background-image: linear-gradient(
      51deg,
      rgba(23, 26, 60, 0.7) 5%,
      rgba(23, 26, 60, 0.3) 95%
    );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  section {
    width: 100%;
    margin-right: 4rem;
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  a {
    width: 60%;
    border: $intro-content-font-color solid 2px;
    border-radius: 15px;
    padding: 1rem 2rem;
    margin: 0.5rem;
    text-align: center;

    &:nth-child(2),
    &:nth-child(3) {
      color: #202c3f;
      background-color: $intro-content-font-color;
    }

    &:nth-child(4),
    &:nth-child(5) {
      color: $intro-content-font-color;
    }
  }
}

#services {
  width: 100%;
  padding: 1rem 0;
  overflow: auto hidden;
  box-sizing: border-box;

  ul {
    min-width: 100%;
    width: max-content;
    @include flex(row, space-between, null);

    li {
      width: 100px;
      height: 60px;
      margin: 0 1rem;
      cursor: pointer;

      h4 {
        text-align: center;
        font-size: 0.9rem;
      }

      &:first-child {
        margin: 0;
      }
      &:last-child {
        margin: 0;
      }

      img {
        width: 100%;
      }
    }
  }
}

.middle-tiles {
  padding: 2rem 1rem;
  border-bottom: 1px lightgray solid;
  min-height: 25rem;
  background-color: $header-bg-color;

  span {
    display: inline-block;
    font-size: 1.2rem;
    margin: 1.5rem 0 0.5rem;
  }

  .param-texts {
    line-height: 1.5rem;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: justify;
  }

  .tiles-images {
    width: 90%;

    &[driverimg] {
      border-radius: 25px;
      width: 100%;
      margin: 1rem 0;
    }
  }

  .tiles-links {
    color: #fff;
    background-color: $base-color;
    padding: 0.7rem 1.3rem;
    border-radius: 20px;
    display: inline-block;
    margin: 1rem 0 0;
  }

  .more-info {
    display: inline-block;
    color: $base-color;
    margin: 0.5rem 0 0;
  }

  .title {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1rem;
  }
}

.unselected {
  opacity: 0.5;
}

.select {
  opacity: 1;
}

#transparent-block {
  width: 100%;
  height: 20rem;
  background-color: transparent;
  @include flex(column, center, center);

  ul {
    li {
      text-align: center;
      margin: 1rem 0;

      &:hover .param {
        visibility: visible;
      }
    }
  }

  .title {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }

  .param {
    color: #fff;
    font-size: 0.8rem;
    visibility: hidden;
    transition: none;
    padding: 0 2rem;
  }
}

.feature-list {
  h4 {
    font-size: 1rem;
  }

  ul {
    li {
      margin: 0.7rem 0;
      font-size: 0.9rem;
    }
  }
}

.links {
  @include flex(column, center, center);

  a {
    background-color: $button-color;
    color: #fff;
    display: inline-block;
    border-radius: 15px;
    width: 13rem;
    text-align: center;
    padding: 1.3rem 1.5rem;
    font-size: 0.9rem;

    &:first-child {
      margin-bottom: 0.7rem;
    }
  }
}
