@import "./config";
@import "./header";
@import "./_main";
@import "./_footer";

@font-face {
  font-family: "Dana";
  src: url("../sources/fonts/dana-regular.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}

*:not(.links, .links div, #transparent-block, img) {
  transition: 500ms 300ms ease;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  max-height: max-content;
  overflow-x: hidden;
  font-family: "Dana", sans-serif;
  background: center / cover no-repeat url("../sources/images/parallax.jpeg");
  background-attachment: fixed;
}

.flex {
  display: flex;
}

.active {
  display: block;
}

.deactive {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(85, 85, 85, 0.199);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.61);
}

@media print {
  header,
  #introduction-content,
  footer,
  img,
  #services {
    display: none;
  }
}
