@import "./config";
@import "./header";
@import "./_main";
@import "./_footer";

@font-face {
  font-family: "Dana";
  src: url("../sources/fonts/dana-regular.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}

* {
  transition: 500ms 0s ease;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  max-height: max-content;
  overflow-x: hidden;
  font-family: "Dana", sans-serif;
  background: center / cover no-repeat url("../sources/images/parallax.jpeg");
  background-attachment: fixed;
}

.flex {
  display: flex;
}

.active {
  display: block;
}

.deactive {
  display: none;
}
